<!doctype html>
<html>
	<head>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="custom.css" />

		<script type="text/javascript" src="angular.js"></script>
		<script src="angular-ui-router.js"></script>
		<script src="app.js"></script>
		<script src="controllers.js"></script>
		
	</head>

	<body ng-app="outfittery-test">
		
		<header class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navigationCtrl">
	      <div class="row">
	      	<div class="col-sm-1 col-sm-offset-3">
	      		<a ng-click="changeLeft()" class="btn btn-lg btn-primary">{{left}}</a>
	      	</div>
	      	<div class="col-sm-1 col-sm-offset-3">
	      		<a ng-click="changeRight()" class="btn btn-lg btn-danger">{{right}}</a>
	      	</div>
	      </div>
	    </header>

	    <div class="mt-nav" ui-view></div>

	</body>

</html>